*{
    margin: auto;
    padding:auto;
}

.main_logo{
  
    padding: 10px;
    width: 50%;    
}

header{
    display: flex;
    flex-direction: row;
}

nav,a,.information{
    float: left;
    display: block;
    text-align: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;    
    line-height: 23px;
    padding:10px;
    text-decoration: none;

    color: #1F1534;
    opacity: 50%;

}

a:hover{
    opacity: 100%;
  }

.main_part_1{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    
    margin: 0 75px;
}

.container{
    flex-basis: 50%;
    padding: 5%;
}

.image1{
    flex-basis: 50%;
    display: flex;
    align-items: flex-start;
    margin: auto;
}

.image1 img{
    width: 100%;
    height: auto;

    
}


.container>h1{
    
    width: 420px;
    height: 112px;
 
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

    
    
    color: #000000;
    
    mix-blend-mode: normal;


}

#button1{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 40px;
gap: 10px;
margin-top: 25px;


width: 200px;
height: 60px;


background: #458FF6;
border-radius: 55px;


font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 60px;


color: #FFFFFF;

}

.information{
    width: 445px;
    height: 96px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    text-align: left;
    margin-bottom: 50px;


    color: #7D7987;

    mix-blend-mode: normal;
   

}


.services_head{
    margin: auto;
    text-align: center;


    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color:black;

    mix-blend-mode: normal;

}



.serviceContainer1>p{
    color: black;
    padding: 0px 200px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;

    text-align: center;

    color: #7D7987;

    mix-blend-mode: normal;
}

.services{
    width: 450px;
    height: 354px;
    margin: 30px;
    padding: 25px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}


.outer_containter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.serviceContainer2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}



.services>p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    mix-blend-mode: normal;
}

.services>img{
    height: 95.00761413574219px;
    max-width: fit-content;

    
}
.button3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    gap: 10px;
    margin-top: 25px;
    border: 1.4px solid #458FF6;
    border-radius: 55px;


    width: 200px;
    height: 60px;

    color: #458FF6;


    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;


    }

span> img{
    padding-top: 20px;

}

.customer{

    margin: auto;

    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
}
.customer_heading{
    text-align: center; 

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    padding: 4px 0;


    color: #FFFFFF;

    mix-blend-mode: normal;
}
.reviews{
    display: flex;
    flex-direction: row;
}
.reviews>*{
    flex: 1;
}
.review{
    margin: auto;
    width: 420px;
    height: 120px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
}

.user_img{
    margin: auto;
    border-radius: 50%;
}

.customer_detail{
    display: flex;
    flex-direction: row;

    
}

.info{
    display: block;
    margin: auto;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.articleContainer{
    width: 1000px; 
    max-width: 75%;
    display: flex;
    flex-direction: row;
    margin-left: 150px; 
    margin-right: 50px;
    max-width: 50%;
    align-content: center;
}

.articles{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    margin: 30px;
    padding: 25px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}
.articles>img{
    height:246px;
    width: 100%;    
}

.button4{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    gap: 10px;
    margin-top: 25px;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    width: 200px;
    height: 60px;
    color: #458FF6;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
}

#quest{
    text-align: center;
    margin: auto;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
    margin:25px auto;
}

.footer_container{
    flex: 25%;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    height: 100%;
    align-content: center;
}

.footer_elements{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.footer_elements h1{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    text-align: center;

}

ul li{
    list-style: none;
    text-align: left;
}

.footer_elements p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal; 

}
hr{
    width: 56px;    
    height: 2px;
    background: #000000;
    border-radius: 5px;
    margin: 20px auto;
}


.read_link{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    gap: 10px;
    margin-top: 25px;
    width: 200px;
    height: 60px;
    color: #458FF6;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
}



form{

    margin: auto;
    width: 50%;
    padding: 25px;
}

.form_element{
    background-color: #67C3F3;
    display: flex;
    flex-direction: column;
}

.upper{
    display: flex;
    flex-direction: row;
    margin-right:10px ;
    
}

.name{
    margin-left: 0;
    margin-right: 10px;
    width: 100%;
}

#send_message{
    margin: 0 50%;
    width: fit-content;
}

.form-group textarea,input{
    width: 100%;
    padding: 10px;
}
#name{
    width: 90%;
}

#phone{
    width: 105%;
}


input, textarea{
    border: 1px solid #7D7987;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .main_part_1{
        flex-wrap: wrap;
        padding:20px

    }

    .serviceContainer2, .customer_detail, .articleContainer,form{
        flex-wrap: wrap;
    }

    .footer,.footer_container,.footer_elements{
        flex-wrap: wrap;
    }

}
